<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs'); %>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/createPlan.css">
    <title>Crear Plan</title>
</head>

<body>
  <%- include('./partials/navbar.ejs'); %>  <!-- Incluir un archivo parcial llamado 'navbar.ejs' -->
    <%- include('./partials/nav_img.ejs'); %> <!-- Incluir un archivo parcial llamado 'nav_img.ejs' -->
      <div id="about" class="about">
        <div class="container">
          <div class="row gy-5">
            <div class="col-xl-7">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">  <!-- Carrusel de imágenes -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/plan1.jpg" class="w-100" alt="...">  <!-- Imagen 1 del carrusel -->
                  </div>
                  <div class="carousel-item">
                    <img src="../img/plan2.jpg" class="w-100" alt="...">  <!-- Imagen 2 del carrusel -->
                  </div>
                  <div class="carousel-item">
                    <img src="../img/plan3.jpg" class="w-100" alt="...">  <!-- Imagen 3 del carrusel -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 content">
              <h3>Comparte tu Plan</h3>
              <h2> Crea tu propio plan y permite que te contacten</h2>
              <p>Crea tu propio plan y permite que los demás te contacten directamente desde nuestra web! Con nuestro
                servicio, puedes diseñar un plan personalizado en el que puedes subir el nombre, descripción y tu número
                de teléfono de contacto. Esta función te brinda la oportunidad de promocionar tu plan y permitir que
                cualquier persona interesada pueda comunicarse contigo fácilmente.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn create-plan" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Crear Plan
              </button>
            </div>
          </div>
        </div>
      </div>
      <h1 class="mb-3 text-center">Planes de la Comunidad</h1>  <!-- Título para los planes de la comunidad -->
      <div class="container-fluid">
        <div class="cards-wrapper">
          <% planes.forEach(function(elements) { %> <!-- Iterar sobre una variable llamada 'planes' y su contenido -->
            <% if(elements.ESTADO == 1){%>  <!-- Si el 'ESTADO' es 1, mostrar el plan -->
            <div class="card bg-light-subtle mt-4 shadow">
              <img src="../img/plan3.jpg" class="card-img-top" alt="..."> <!-- Imagen del plan -->
              <div class="card-body">
                <div class="text-section">
                  <h5 class="card-title fw-bold">
                    <%= elements.NOMBRE %>  <!-- Mostrar el nombre del plan -->
                  </h5>
                  <p class="card-text"><%= elements.DESCRIPCION %>  <!-- Mostrar la descripción del plan -->
                  </p>
                  <h5 class="card-title fw-bold">Telefono de Contacto</h5>
                  <p class="card-text"><%= elements.TELEFONO %> <!-- Mostrar el número de teléfono de contacto -->
                  </p>
                </div>
              </div>
            </div>
            <% }}); %>  <!-- Finalizar el bucle 'forEach' -->
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!-- Modal para crear un plan -->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crear Plan</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="guardarPlan" method="post">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label" name="NOMBRE">Nombre</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="NOMBRE">  <!-- Campo de entrada para el nombre del plan -->
                </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="DESCRIPCION"></textarea>  <!-- Área de texto para la descripción del plan -->
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Telefono</label>
                  <input type="number" class="form-control" id="exampleFormControlInput1" name="TELEFONO">  <!-- Campo de entrada para el número de teléfono -->
                </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Crear</button>  <!-- Botón para crear el plan -->
            </div>  
            </div>
            </form>
          </div>
        </div>
      </div>
      <%- include('partials/footer.ejs'); %>  <!-- Incluir un archivo parcial llamado 'footer.ejs' -->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="js/noLog.js"></script>

</html>